<?xml version="1.0"?>
<!-- Copyright 2011 Google Inc. Licensed under the Apache License, Version 2.0 (the 
  "License"); you may not use this file except in compliance with the License. You 
  may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless 
  required by applicable law or agreed to in writing, software distributed under the 
  License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY 
  KIND, either express or implied. See the License for the specific language governing 
  permissions and limitations under the License. -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
    <display-name>CNX Live Web View</display-name>

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/light/*</url-pattern>
        <url-pattern>/home/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.cnx.web.GuiceConfig</listener-class>
    </listener>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/light/clear-cache</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>org.cnx.web.FrontPageServlet</servlet-class>
  </servlet>


    <!-- Mapping for REST Servlets for serving content. -->
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.cnx.web.servlets;</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>
</web-app>
